@import './Global.scss';

.header-container {
  text-align: center;
  > .title {
    font-size: 37px;
    line-height: 1.4em;
    font-weight: 200;
    color: $very-dark-blue;
  }
  > .title > .titleStrong {
    font-weight: 600;
  }
  > .subtitle {
    font-size: 18px;
    line-height: 1.7em;
    color: $grayish-blue;
    font-weight: 400;
  }
}