._header-title-margin-bottom {
  margin-bottom: 13.5px;
}
._light-font-weight {
  font-weight: 200;
}
._regular-font-weight {
  font-weight: 400;
}
._strong-font-weight {
  font-weight: 600;
}
._header-margin {
  margin: 30px;
}
._card-padding {
  padding: 32px;
}
._card-margin {
  margin: 15px;
}
._position-absolute {
  position: absolute;
}
._align-flex-end {
  align-self: flex-end;
}
._botom-32 {
  bottom: 32px;
}
._card-title-margin-bottom {
  margin-bottom: 17.5px;
}
._footer-margin {
  margin: 30pxx;
}
._cards-margin {
  margin: 30px;
}